<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>1400</integer>
	<integer>60</integer>
	<integer>39</integer>
	<integer>20</integer>
	<integer>1400</integer>
	<integer>81</integer>
	<integer>19</integer>
	<integer>158</integer>
	<integer>0</integer>
	<integer>100</integer>
	<integer>39</integer>
	<integer>19</integer>
	<integer>20</integer>
	<integer>120</integer>
	<integer>19</integer>
	<integer>159</integer>
	<integer>300</integer>
	<integer>200</integer>
	<integer>259</integer>
	<integer>20</integer>
	<integer>1060</integer>
	<integer>220</integer>
	<integer>359</integer>
	<integer>20</integer>
	<integer>300</integer>
	<integer>221</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>540</integer>
	<integer>221</integer>
	<integer>19</integer>
	<integer>38</integer>
	<integer>560</integer>
	<integer>240</integer>
	<integer>159</integer>
	<integer>19</integer>
	<integer>1060</integer>
	<integer>241</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>40</integer>
	<integer>260</integer>
	<integer>279</integer>
	<integer>19</integer>
	<integer>700</integer>
	<integer>260</integer>
	<integer>19</integer>
	<integer>39</integer>
	<integer>720</integer>
	<integer>280</integer>
	<integer>359</integer>
	<integer>19</integer>
</array>
</plist>
