<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>700</integer>
	<integer>160</integer>
	<integer>379</integer>
	<integer>20</integer>
	<integer>700</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>78</integer>
	<integer>1060</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>38</integer>
	<integer>1080</integer>
	<integer>200</integer>
	<integer>359</integer>
	<integer>19</integer>
	<integer>300</integer>
	<integer>240</integer>
	<integer>419</integer>
	<integer>20</integer>
	<integer>300</integer>
	<integer>261</integer>
	<integer>19</integer>
	<integer>48</integer>
	<integer>0</integer>
	<integer>290</integer>
	<integer>319</integer>
	<integer>19</integer>
</array>
</plist>
