<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>0</integer>
	<integer>60</integer>
	<integer>139</integer>
	<integer>19</integer>
	<integer>460</integer>
	<integer>80</integer>
	<integer>99</integer>
	<integer>19</integer>
	<integer>160</integer>
	<integer>100</integer>
	<integer>99</integer>
	<integer>19</integer>
	<integer>580</integer>
	<integer>120</integer>
	<integer>99</integer>
	<integer>19</integer>
	<integer>860</integer>
	<integer>120</integer>
	<integer>99</integer>
	<integer>19</integer>
	<integer>1100</integer>
	<integer>120</integer>
	<integer>99</integer>
	<integer>19</integer>
	<integer>300</integer>
	<integer>140</integer>
	<integer>99</integer>
	<integer>19</integer>
	<integer>720</integer>
	<integer>160</integer>
	<integer>99</integer>
	<integer>19</integer>
	<integer>980</integer>
	<integer>160</integer>
	<integer>99</integer>
	<integer>19</integer>
	<integer>1220</integer>
	<integer>160</integer>
	<integer>99</integer>
	<integer>19</integer>
	<integer>1340</integer>
	<integer>200</integer>
	<integer>99</integer>
	<integer>19</integer>
	<integer>0</integer>
	<integer>240</integer>
	<integer>1279</integer>
	<integer>19</integer>
	<integer>1260</integer>
	<integer>260</integer>
	<integer>19</integer>
	<integer>39</integer>
	<integer>1280</integer>
	<integer>280</integer>
	<integer>159</integer>
	<integer>19</integer>
</array>
</plist>
