<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>0</integer>
	<integer>100</integer>
	<integer>59</integer>
	<integer>19</integer>
	<integer>180</integer>
	<integer>100</integer>
	<integer>59</integer>
	<integer>19</integer>
	<integer>360</integer>
	<integer>100</integer>
	<integer>59</integer>
	<integer>19</integer>
	<integer>540</integer>
	<integer>100</integer>
	<integer>59</integer>
	<integer>19</integer>
	<integer>720</integer>
	<integer>100</integer>
	<integer>59</integer>
	<integer>19</integer>
	<integer>900</integer>
	<integer>100</integer>
	<integer>59</integer>
	<integer>19</integer>
	<integer>1080</integer>
	<integer>100</integer>
	<integer>59</integer>
	<integer>19</integer>
	<integer>1260</integer>
	<integer>100</integer>
	<integer>59</integer>
	<integer>19</integer>
	<integer>240</integer>
	<integer>140</integer>
	<integer>279</integer>
	<integer>20</integer>
	<integer>240</integer>
	<integer>161</integer>
	<integer>19</integer>
	<integer>38</integer>
	<integer>500</integer>
	<integer>161</integer>
	<integer>19</integer>
	<integer>78</integer>
	<integer>0</integer>
	<integer>180</integer>
	<integer>259</integer>
	<integer>19</integer>
	<integer>1160</integer>
	<integer>180</integer>
	<integer>279</integer>
	<integer>20</integer>
	<integer>1160</integer>
	<integer>201</integer>
	<integer>19</integer>
	<integer>78</integer>
	<integer>520</integer>
	<integer>220</integer>
	<integer>419</integer>
	<integer>19</integer>
	<integer>920</integer>
	<integer>240</integer>
	<integer>19</integer>
	<integer>39</integer>
	<integer>940</integer>
	<integer>260</integer>
	<integer>239</integer>
	<integer>19</integer>
</array>
</plist>
