<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>0</integer>
	<integer>60</integer>
	<integer>59</integer>
	<integer>19</integer>
	<integer>1380</integer>
	<integer>60</integer>
	<integer>59</integer>
	<integer>19</integer>
	<integer>80</integer>
	<integer>100</integer>
	<integer>59</integer>
	<integer>19</integer>
	<integer>1300</integer>
	<integer>100</integer>
	<integer>59</integer>
	<integer>19</integer>
	<integer>200</integer>
	<integer>160</integer>
	<integer>239</integer>
	<integer>20</integer>
	<integer>720</integer>
	<integer>160</integer>
	<integer>59</integer>
	<integer>19</integer>
	<integer>440</integer>
	<integer>180</integer>
	<integer>179</integer>
	<integer>19</integer>
	<integer>1040</integer>
	<integer>180</integer>
	<integer>399</integer>
	<integer>20</integer>
	<integer>200</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>420</integer>
	<integer>181</integer>
	<integer>199</integer>
	<integer>18</integer>
	<integer>600</integer>
	<integer>200</integer>
	<integer>19</integer>
	<integer>79</integer>
	<integer>1040</integer>
	<integer>201</integer>
	<integer>19</integer>
	<integer>38</integer>
	<integer>0</integer>
	<integer>220</integer>
	<integer>219</integer>
	<integer>19</integer>
	<integer>860</integer>
	<integer>220</integer>
	<integer>199</integer>
	<integer>20</integer>
	<integer>860</integer>
	<integer>241</integer>
	<integer>19</integer>
	<integer>38</integer>
	<integer>620</integer>
	<integer>260</integer>
	<integer>259</integer>
	<integer>19</integer>
</array>
</plist>
