<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>40</integer>
	<integer>220</integer>
	<integer>99</integer>
	<integer>20</integer>
	<integer>340</integer>
	<integer>220</integer>
	<integer>99</integer>
	<integer>20</integer>
	<integer>640</integer>
	<integer>220</integer>
	<integer>99</integer>
	<integer>20</integer>
	<integer>940</integer>
	<integer>220</integer>
	<integer>99</integer>
	<integer>20</integer>
	<integer>1240</integer>
	<integer>220</integer>
	<integer>99</integer>
	<integer>20</integer>
	<integer>180</integer>
	<integer>240</integer>
	<integer>99</integer>
	<integer>20</integer>
	<integer>480</integer>
	<integer>240</integer>
	<integer>99</integer>
	<integer>20</integer>
	<integer>780</integer>
	<integer>240</integer>
	<integer>99</integer>
	<integer>20</integer>
	<integer>1080</integer>
	<integer>240</integer>
	<integer>99</integer>
	<integer>20</integer>
	<integer>1380</integer>
	<integer>240</integer>
	<integer>59</integer>
	<integer>20</integer>
	<integer>40</integer>
	<integer>241</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>120</integer>
	<integer>241</integer>
	<integer>19</integer>
	<integer>78</integer>
	<integer>340</integer>
	<integer>241</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>420</integer>
	<integer>241</integer>
	<integer>19</integer>
	<integer>78</integer>
	<integer>640</integer>
	<integer>241</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>720</integer>
	<integer>241</integer>
	<integer>19</integer>
	<integer>78</integer>
	<integer>940</integer>
	<integer>241</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>1020</integer>
	<integer>241</integer>
	<integer>19</integer>
	<integer>78</integer>
	<integer>1240</integer>
	<integer>241</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>1320</integer>
	<integer>241</integer>
	<integer>19</integer>
	<integer>78</integer>
	<integer>180</integer>
	<integer>261</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>260</integer>
	<integer>261</integer>
	<integer>19</integer>
	<integer>38</integer>
	<integer>480</integer>
	<integer>261</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>560</integer>
	<integer>261</integer>
	<integer>19</integer>
	<integer>38</integer>
	<integer>780</integer>
	<integer>261</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>860</integer>
	<integer>261</integer>
	<integer>19</integer>
	<integer>38</integer>
	<integer>1080</integer>
	<integer>261</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>1160</integer>
	<integer>261</integer>
	<integer>19</integer>
	<integer>38</integer>
	<integer>1380</integer>
	<integer>261</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>0</integer>
	<integer>280</integer>
	<integer>59</integer>
	<integer>19</integer>
	<integer>280</integer>
	<integer>280</integer>
	<integer>79</integer>
	<integer>19</integer>
	<integer>580</integer>
	<integer>280</integer>
	<integer>79</integer>
	<integer>19</integer>
	<integer>880</integer>
	<integer>280</integer>
	<integer>79</integer>
	<integer>19</integer>
	<integer>1180</integer>
	<integer>280</integer>
	<integer>79</integer>
	<integer>19</integer>
</array>
</plist>
