<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>80</integer>
	<integer>160</integer>
	<integer>139</integer>
	<integer>20</integer>
	<integer>540</integer>
	<integer>160</integer>
	<integer>139</integer>
	<integer>20</integer>
	<integer>1000</integer>
	<integer>160</integer>
	<integer>139</integer>
	<integer>20</integer>
	<integer>80</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>200</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>540</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>660</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>1000</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>1120</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>0</integer>
	<integer>220</integer>
	<integer>99</integer>
	<integer>19</integer>
	<integer>220</integer>
	<integer>220</integer>
	<integer>119</integer>
	<integer>19</integer>
	<integer>440</integer>
	<integer>220</integer>
	<integer>119</integer>
	<integer>20</integer>
	<integer>680</integer>
	<integer>220</integer>
	<integer>119</integer>
	<integer>19</integer>
	<integer>900</integer>
	<integer>220</integer>
	<integer>119</integer>
	<integer>20</integer>
	<integer>1140</integer>
	<integer>220</integer>
	<integer>119</integer>
	<integer>19</integer>
	<integer>1360</integer>
	<integer>220</integer>
	<integer>79</integer>
	<integer>20</integer>
	<integer>320</integer>
	<integer>240</integer>
	<integer>19</integer>
	<integer>59</integer>
	<integer>780</integer>
	<integer>240</integer>
	<integer>19</integer>
	<integer>59</integer>
	<integer>1240</integer>
	<integer>240</integer>
	<integer>19</integer>
	<integer>59</integer>
	<integer>440</integer>
	<integer>241</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>900</integer>
	<integer>241</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>1360</integer>
	<integer>241</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>340</integer>
	<integer>280</integer>
	<integer>119</integer>
	<integer>19</integer>
	<integer>800</integer>
	<integer>280</integer>
	<integer>119</integer>
	<integer>19</integer>
	<integer>1260</integer>
	<integer>280</integer>
	<integer>119</integer>
	<integer>19</integer>
</array>
</plist>
