<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>620</integer>
	<integer>100</integer>
	<integer>159</integer>
	<integer>19</integer>
	<integer>220</integer>
	<integer>140</integer>
	<integer>79</integer>
	<integer>20</integer>
	<integer>360</integer>
	<integer>140</integer>
	<integer>159</integer>
	<integer>20</integer>
	<integer>80</integer>
	<integer>160</integer>
	<integer>79</integer>
	<integer>20</integer>
	<integer>1160</integer>
	<integer>160</integer>
	<integer>159</integer>
	<integer>19</integer>
	<integer>220</integer>
	<integer>161</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>280</integer>
	<integer>161</integer>
	<integer>19</integer>
	<integer>158</integer>
	<integer>360</integer>
	<integer>161</integer>
	<integer>19</integer>
	<integer>158</integer>
	<integer>500</integer>
	<integer>161</integer>
	<integer>19</integer>
	<integer>158</integer>
	<integer>80</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>38</integer>
	<integer>140</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>38</integer>
	<integer>0</integer>
	<integer>200</integer>
	<integer>99</integer>
	<integer>19</integer>
	<integer>160</integer>
	<integer>200</integer>
	<integer>79</integer>
	<integer>19</integer>
	<integer>820</integer>
	<integer>200</integer>
	<integer>59</integer>
	<integer>20</integer>
	<integer>1000</integer>
	<integer>200</integer>
	<integer>59</integer>
	<integer>20</integer>
	<integer>740</integer>
	<integer>220</integer>
	<integer>99</integer>
	<integer>20</integer>
	<integer>860</integer>
	<integer>221</integer>
	<integer>19</integer>
	<integer>98</integer>
	<integer>1000</integer>
	<integer>221</integer>
	<integer>19</integer>
	<integer>38</integer>
	<integer>1040</integer>
	<integer>221</integer>
	<integer>19</integer>
	<integer>98</integer>
	<integer>660</integer>
	<integer>240</integer>
	<integer>99</integer>
	<integer>20</integer>
	<integer>980</integer>
	<integer>240</integer>
	<integer>39</integer>
	<integer>20</integer>
	<integer>600</integer>
	<integer>260</integer>
	<integer>79</integer>
	<integer>20</integer>
	<integer>1360</integer>
	<integer>260</integer>
	<integer>79</integer>
	<integer>20</integer>
	<integer>980</integer>
	<integer>261</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>1220</integer>
	<integer>280</integer>
	<integer>159</integer>
	<integer>20</integer>
	<integer>600</integer>
	<integer>281</integer>
	<integer>19</integer>
	<integer>38</integer>
	<integer>1220</integer>
	<integer>301</integer>
	<integer>19</integer>
	<integer>18</integer>
</array>
</plist>
