<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>80</integer>
	<integer>160</integer>
	<integer>99</integer>
	<integer>20</integer>
	<integer>340</integer>
	<integer>160</integer>
	<integer>99</integer>
	<integer>20</integer>
	<integer>600</integer>
	<integer>160</integer>
	<integer>99</integer>
	<integer>20</integer>
	<integer>880</integer>
	<integer>160</integer>
	<integer>99</integer>
	<integer>20</integer>
	<integer>1140</integer>
	<integer>160</integer>
	<integer>99</integer>
	<integer>20</integer>
	<integer>1400</integer>
	<integer>160</integer>
	<integer>39</integer>
	<integer>20</integer>
	<integer>780</integer>
	<integer>180</integer>
	<integer>19</integer>
	<integer>19</integer>
	<integer>80</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>118</integer>
	<integer>160</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>340</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>118</integer>
	<integer>420</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>600</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>118</integer>
	<integer>680</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>880</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>960</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>118</integer>
	<integer>1140</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>1220</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>118</integer>
	<integer>1400</integer>
	<integer>181</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>180</integer>
	<integer>220</integer>
	<integer>59</integer>
	<integer>19</integer>
	<integer>440</integer>
	<integer>220</integer>
	<integer>59</integer>
	<integer>19</integer>
	<integer>700</integer>
	<integer>220</integer>
	<integer>19</integer>
	<integer>99</integer>
	<integer>860</integer>
	<integer>220</integer>
	<integer>39</integer>
	<integer>20</integer>
	<integer>1080</integer>
	<integer>220</integer>
	<integer>79</integer>
	<integer>20</integer>
	<integer>1340</integer>
	<integer>220</integer>
	<integer>79</integer>
	<integer>20</integer>
	<integer>220</integer>
	<integer>240</integer>
	<integer>19</integer>
	<integer>59</integer>
	<integer>480</integer>
	<integer>240</integer>
	<integer>19</integer>
	<integer>59</integer>
	<integer>860</integer>
	<integer>241</integer>
	<integer>19</integer>
	<integer>78</integer>
	<integer>1080</integer>
	<integer>241</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>1340</integer>
	<integer>241</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>0</integer>
	<integer>280</integer>
	<integer>99</integer>
	<integer>19</integer>
	<integer>240</integer>
	<integer>280</integer>
	<integer>119</integer>
	<integer>19</integer>
	<integer>500</integer>
	<integer>280</integer>
	<integer>119</integer>
	<integer>19</integer>
	<integer>980</integer>
	<integer>280</integer>
	<integer>119</integer>
	<integer>19</integer>
	<integer>1240</integer>
	<integer>280</integer>
	<integer>119</integer>
	<integer>19</integer>
</array>
</plist>
