<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>80</integer>
	<integer>120</integer>
	<integer>139</integer>
	<integer>20</integer>
	<integer>520</integer>
	<integer>120</integer>
	<integer>139</integer>
	<integer>20</integer>
	<integer>960</integer>
	<integer>120</integer>
	<integer>139</integer>
	<integer>20</integer>
	<integer>1400</integer>
	<integer>120</integer>
	<integer>39</integer>
	<integer>20</integer>
	<integer>80</integer>
	<integer>141</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>200</integer>
	<integer>141</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>520</integer>
	<integer>141</integer>
	<integer>19</integer>
	<integer>178</integer>
	<integer>640</integer>
	<integer>141</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>960</integer>
	<integer>141</integer>
	<integer>19</integer>
	<integer>178</integer>
	<integer>1080</integer>
	<integer>141</integer>
	<integer>19</integer>
	<integer>58</integer>
	<integer>1400</integer>
	<integer>141</integer>
	<integer>19</integer>
	<integer>178</integer>
	<integer>0</integer>
	<integer>180</integer>
	<integer>99</integer>
	<integer>19</integer>
	<integer>220</integer>
	<integer>180</integer>
	<integer>119</integer>
	<integer>19</integer>
	<integer>660</integer>
	<integer>180</integer>
	<integer>119</integer>
	<integer>19</integer>
	<integer>1100</integer>
	<integer>180</integer>
	<integer>119</integer>
	<integer>19</integer>
	<integer>320</integer>
	<integer>200</integer>
	<integer>19</integer>
	<integer>59</integer>
	<integer>460</integer>
	<integer>200</integer>
	<integer>19</integer>
	<integer>19</integer>
	<integer>760</integer>
	<integer>200</integer>
	<integer>19</integer>
	<integer>59</integer>
	<integer>900</integer>
	<integer>200</integer>
	<integer>19</integer>
	<integer>19</integer>
	<integer>1200</integer>
	<integer>200</integer>
	<integer>19</integer>
	<integer>59</integer>
	<integer>1340</integer>
	<integer>200</integer>
	<integer>19</integer>
	<integer>19</integer>
	<integer>340</integer>
	<integer>240</integer>
	<integer>59</integer>
	<integer>19</integer>
	<integer>780</integer>
	<integer>240</integer>
	<integer>59</integer>
	<integer>19</integer>
	<integer>1220</integer>
	<integer>240</integer>
	<integer>59</integer>
	<integer>19</integer>
	<integer>380</integer>
	<integer>260</integer>
	<integer>19</integer>
	<integer>59</integer>
	<integer>820</integer>
	<integer>260</integer>
	<integer>19</integer>
	<integer>59</integer>
	<integer>1260</integer>
	<integer>260</integer>
	<integer>19</integer>
	<integer>59</integer>
</array>
</plist>
